/* header */
.p-nav {
    position: sticky !important;
    top: 0;
    background-color: aliceblue;

}

.p-nav .navbar-collapse {
    justify-content: end;
}

.p-nav .nav-link {
    color: #000 !important;
    font-weight: bold !important;
    transition: color 2s padding 1s;
    padding: 15px !important;
    text-transform: uppercase;

}

.p-nav .navbar-brand {
    color: #5faf21 !important;
    font-size: 24px !important;
    font-weight: bold;
}

.p-nav .navbar-brand:hover {
    color: #000 !important;
}

.p-nav .nav-link:hover {
    color: #5faf21 !important;
}

.Header {
    background-image: url("/public/Images/topline-texture.jpg");
    background-position: center;
}

.locationIcon::before {
    font-family: "FontAwesome";
    content: "\f3c5";
    font-size: 18px;
    padding-left: 10px;
    top: 25%;
    color: #fff;
    background-color: #f39314;
    border-radius: 50%;
    padding: 5px;
}

.mailicon1::before {
    font-family: "FontAwesome";
    content: "\f0e0";
    font-size: 18px;
    padding-left: 10px;
    top: 25%;
    color: #fff;
    background-color: #5faf21;
    border-radius: 50%;
    padding: 5px;
}

.Header a {
    transition: all 0.5s ease-in-out;
}

.Header a:hover {
    color: #5faf21 !important;
}


/* header */

.map {
    height: 100%;
    width: 100%;

}

.projectDetails img {
    margin-bottom: 1rem;
}

.projectDetails h1 {
    margin-bottom: 0.9em;
    font-size: 42px;

    word-wrap: break-word;
    line-height: 1.5em;
    font-weight: 700;
    z-index: -1;
}

.projectDetails h1 span {
    color: #5faf21;
}

#about .container {
    text-align: center;
    max-width: 700px;
}

#pHighlights p {
    color: #5faf21;
}

.bg_green {
    background-image: linear-gradient(to top, #5faf21, #fff);
}

.contact h2 {
    margin-bottom: 0.9em;
    font-size: 42px;
    text-align: center;
    word-wrap: break-word;
    line-height: 1.5em;
    font-weight: 700;
    z-index: -1;
    color: white;
}

.contact p {
    color: white;
    text-align: center;
    font-weight: 500;
    font-size: 18px;
}

.gallery img {
    width: 275px;
    aspect-ratio: 3/2;
    padding: 10px;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}

.gallery img:hover {
    transform: scale(1.3git push -u origin main);
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.galleryTitle {
    margin-bottom: 0.9em;
    font-size: 42px;
    text-align: center;
    word-wrap: break-word;
    line-height: 1.5em;
    font-weight: 700;
    z-index: -1;
    color: #5faf21;
}